:root {
  text-rendering: optimizeLegibility !important; // macOS
  -webkit-font-smoothing: antialiased !important; // macOS
  -moz-osx-font-smoothing: grayscale !important; // Firefox

  --font-hind: 'Hind Siliguri', sans-serif;
  --font-dmsans: 'DM Sans', sans-serif;
  --font-SFProDisplay: 'SF Pro Display', sans-serif;

  font-family: var(--font-SFProDisplay);
}
